In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
from catboost import CatBoostRegressor, CatBoostClassifier, Pool
# from my_parsers import download, parse
from tqdm import tqdm
from collections import Counter
# from brown_clustering import BigramCorpus, BrownClustering

pd.options.display.max_rows = 200
tqdm.pandas()

C:\Users\iltya\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\iltya\anaconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
C:\Users\iltya\anaconda3\lib\site-packages\numpy\.libs\libopenblas64__v0.3.23-246-g3d31191b-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"
C:\Users\iltya\AppData\Roaming\Python\Python39\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.25.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df_TRAIN_RES_1 = pd.read_csv('vprod_train/TRAIN_RES_1.csv')
#df_TRAIN_RES_2 = pd.read_csv('vprod_train/TRAIN_RES_1.csv')
#df_TRAIN_RES_3 = pd.read_csv('vprod_train/TRAIN_RES_1.csv')
#df_TRAIN_RES_4 = pd.read_csv('vprod_train/TRAIN_RES_1.csv')
#df_TRAIN_RES_5 = pd.read_csv('vprod_train/TRAIN_RES_1.csv')

#df_res = pd.concat([df_TRAIN_RES_1, df_TRAIN_RES_2, df_TRAIN_RES_3, df_TRAIN_RES_4, df_TRAIN_RES_5], axis=0)
df_res = df_TRAIN_RES_1.copy()
df_sal = pd.read_csv('vprod_train/TRAIN_SAL.csv')

C:\Users\iltya\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1,16,24,69) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
# удаляем модифицированный столбец - он совпадает с точностью до регистра
df_TRAIN_RES_1.drop("achievements_modified", axis=1, inplace=True)

df_TRAIN_RES_1["achievements"].fillna("", inplace=True)
df_TRAIN_RES_1["achievements_len"] = [len(i) for i in df_TRAIN_RES_1["achievements"]]

df_TRAIN_RES_1.drop_duplicates(inplace=True)

In [55]:
df_TRAIN_RES_1[df_TRAIN_RES_1["achievements_len"] == 4770]

,achievements,company_name,demands,id_cv,job_title,achievements_isna,achievements_len
687466,Список реализованных объектов (проектов):1. ФГ...,"ЗАО РОСГЕОПРОЕКТ (изыскания, землеустройство, ...","- создание проектного подразделения ""с нуля"" п...",5f217020-f969-11e9-8b91-ef76bd2a03c1,руководитель,False,4770
687485,Список реализованных объектов (проектов):1. ФГ...,"ЗАО РОСГЕОПРОЕКТ (изыскания, землеустройство, ...","- создание проектного подразделения ""с нуля"" п...",4cf01980-f034-11e9-868a-ef76bd2a03c1,руководитель,False,4770
687494,Список реализованных объектов (проектов):1. ФГ...,"ЗАО РОСГЕОПРОЕКТ (изыскания, землеустройство, ...","- создание проектного подразделения ""с нуля"" п...",08c129f0-f969-11e9-8b91-ef76bd2a03c1,руководитель,False,4770
687508,Список реализованных объектов (проектов):1. ФГ...,"ЗАО РОСГЕОПРОЕКТ (изыскания, землеустройство, ...","- создание проектного подразделения ""с нуля"" п...",eb4a05d0-f969-11e9-8b91-ef76bd2a03c1,руководитель,False,4770
687511,Список реализованных объектов (проектов):1. ФГ...,"ЗАО РОСГЕОПРОЕКТ (изыскания, землеустройство, ...","- создание проектного подразделения ""с нуля"" п...",980d94e0-f969-11e9-8b91-ef76bd2a03c1,руководитель,False,4770

In [61]:
(df_TRAIN_RES_1["id_cv"] == "a8b302e8-6aba-11ef-acc9-cb26dff57dd7").sum()

0

In [65]:
df_TRAIN_RES_1["id_cv"].iloc[520]

'e387b9b9-2ea3-11e8-9855-0f468c90bfa7'

In [67]:
df_TRAIN_RES_1.iloc[-1]

achievements
company_name                                           ООО "Алкотрейд"
demands              Продажи алкогольной продукции. Контроль дебито...
id_cv                             631171a0-7f45-11ea-a3e6-037acc02728d
job_title                                                представитель
achievements_isna                                                 True
achievements_len                                                     0
Name: 1999999, dtype: object

In [100]:
df_TRAIN_RES_1["job_title"].isna().sum()

0

In [68]:
len(df_TRAIN_RES_1)

1664467

In [97]:
df_TRAIN_RES_1

,achievements,company_name,demands,id_cv,job_title,achievements_isna,achievements_len
0,,Управление социальной защиты населения Сердобс...,"Работала,непосредственно, с федеральными льгот...",52860148-26da-11e8-a184-9122a281f90e,инспектор,True,0
1,,Администрация города Сердобска,Работа с реестром муниципальной собственности,52860148-26da-11e8-a184-9122a281f90e,инспектор,True,0
2,"Работы не закончены, т.к. нет настоящего желан...",январь 2016-настоящее времяООО «АРТЕЛЬ СТАРАТЕ...,Курирую работы по рудному направлению: соавтор...,e3c857b0-26a0-11e7-bcca-736ab11edb0c,геолог,False,185
3,,"ОАО «Васильевский рудник», п.Мотыгино, Красноя...",ГРП. Документация керна разведочных скважин,e3c857b0-26a0-11e7-bcca-736ab11edb0c,геолог,True,0
4,,"ООО «Артель старателей «ТАЛ»», Усть-Нера, Респ...",Поисково-разведочные работы на месторождении р...,e3c857b0-26a0-11e7-bcca-736ab11edb0c,геолог,True,0
...,...,...,...,...,...,...,...
1999995,Мое резюме на hh.ru:https://hh.ru/resume/134eb...,Текта Групп,Мое резюме на hh.ru:https://hh.ru/resume/134eb...,0c919cc0-7e59-11ea-ba8b-ef76bd2a03c1,менеджер,False,80
1999996,,"ООО""Роста""",Сортировка заказов,653b46e0-8521-11ea-9fd7-b905beff6f7a,сортировщик,True,0
1999997,,ООО ВансладРитейл,Планировать и контролировать выполнение заказо...,d2925930-84cd-11ea-80d4-79a78a7da306,диспетчер,True,0
1999998,,"ООО ""Агроторг""",Продажи алкогольной продукции. Контроль дебито...,631171a0-7f45-11ea-a3e6-037acc02728d,представитель,True,0
1999999,,"ООО ""Алкотрейд""",Продажи алкогольной продукции. Контроль дебито...,631171a0-7f45-11ea-a3e6-037acc02728d,представитель,True,0

In [101]:
t = df_TRAIN_RES_1[df_TRAIN_RES_1["id_cv"] == "e3c857b0-26a0-11e7-bcca-736ab11edb0c"]

In [4]:
used_classes = df_TRAIN_RES_1["job_title"].value_counts().sort_values(ascending=False).iloc[:200].index.tolist()

In [5]:
df_TRAIN_RES_1 = df_TRAIN_RES_1[df_TRAIN_RES_1["job_title"].isin(used_classes)]

In [6]:
len(df_TRAIN_RES_1)

1594617

In [7]:
df_TRAIN_RES_1 = df_TRAIN_RES_1.iloc[:100_000]

In [8]:
df_TRAIN_RES_1["id_cv_0"] = [i.split("-")[0] for i in df_TRAIN_RES_1["id_cv"]]
df_TRAIN_RES_1["id_cv_1"] = [i.split("-")[1] for i in df_TRAIN_RES_1["id_cv"]]
df_TRAIN_RES_1["id_cv_2"] = [i.split("-")[2] for i in df_TRAIN_RES_1["id_cv"]]
df_TRAIN_RES_1["id_cv_3"] = [i.split("-")[3] for i in df_TRAIN_RES_1["id_cv"]]
df_TRAIN_RES_1["id_cv_4"] = [i.split("-")[4] for i in df_TRAIN_RES_1["id_cv"]]

In [9]:
df_TRAIN_RES_1 = df_TRAIN_RES_1.drop("id_cv", axis=1)

text_features = ["achievements", "company_name", "demands"]
cat_features = ["id_cv_0", "id_cv_1", "id_cv_2", "id_cv_3", "id_cv_4"]

In [10]:
for f in cat_features:
    print(f, len(df_TRAIN_RES_1[f].unique()))

id_cv_0 46538
id_cv_1 21582
id_cv_2 8
id_cv_3 1172
id_cv_4 29

In [11]:
df_TRAIN_RES_1.drop(["id_cv_0", "id_cv_1"], axis=1, inplace=True)
cat_features.remove("id_cv_0")
cat_features.remove("id_cv_1")

In [12]:
for text_feature in text_features:
    df_TRAIN_RES_1[text_feature].fillna("", inplace=True)

In [13]:
df_TRAIN_RES_1.drop(text_features, axis=1, inplace=True)
text_features = []

In [14]:
X, y = df_TRAIN_RES_1.drop("job_title", axis=1), df_TRAIN_RES_1["job_title"]

In [31]:
X.drop("achievements_len", axis=1, inplace=True)

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [1]:
text_features

NameError: name 'text_features' is not defined

In [33]:
from catboost import CatBoostClassifier, Pool

train_pool = Pool(X_train, y_train, cat_features=cat_features, text_features=text_features)
test_pool = Pool(X_test, y_test, cat_features=cat_features, text_features=text_features)

In [34]:
clf = CatBoostClassifier(task_type="GPU",  eval_metric="Accuracy")
clf.fit(train_pool, eval_set=test_pool, early_stopping_rounds=5)

Learning rate set to 0.163698
0:	learn: 0.1126375	test: 0.1163500	best: 0.1163500 (0)	total: 1.49s	remaining: 24m 51s
1:	learn: 0.1128125	test: 0.1165500	best: 0.1165500 (1)	total: 3.07s	remaining: 25m 33s
2:	learn: 0.1127125	test: 0.1165500	best: 0.1165500 (1)	total: 4.58s	remaining: 25m 22s
3:	learn: 0.1127750	test: 0.1165500	best: 0.1165500 (1)	total: 6.16s	remaining: 25m 34s
4:	learn: 0.1129000	test: 0.1166000	best: 0.1166000 (4)	total: 8.14s	remaining: 26m 59s
5:	learn: 0.1129250	test: 0.1166000	best: 0.1166000 (4)	total: 9.76s	remaining: 26m 57s
6:	learn: 0.1129500	test: 0.1166000	best: 0.1166000 (4)	total: 11.5s	remaining: 27m 6s
7:	learn: 0.1129750	test: 0.1166000	best: 0.1166000 (4)	total: 13.2s	remaining: 27m 12s
8:	learn: 0.1130125	test: 0.1166000	best: 0.1166000 (4)	total: 14.8s	remaining: 27m 13s
9:	learn: 0.1130500	test: 0.1166000	best: 0.1166000 (4)	total: 16.5s	remaining: 27m 17s
bestTest = 0.1166
bestIteration = 4
Shrink model to first 5 iterations.

In [35]:
clf.get_feature_importance(prettified=True)

  Feature Id  Importances
0    id_cv_2    70.551784
1    id_cv_4    29.448216
2    id_cv_3     0.000000

In [36]:
(y_test=="специалист").mean()

0.11555

In [122]:

for i in df_TRAIN_RES_1["id_cv_2"].unique():
    t = df_TRAIN_RES_1[df_TRAIN_RES_1[f"id_cv_{2}"] == i]
    print(i, t["job_title"].value_counts().iloc[:5])

11e8 специалист    36040
менеджер      21901
инженер       21629
бухгалтер     21562
оператор      12673
Name: job_title, dtype: int64
11e7 специалист    17802
инженер       12292
менеджер      10602
бухгалтер     10506
оператор       5774
Name: job_title, dtype: int64
11e6 специалист    16270
инженер       11136
менеджер      10471
бухгалтер      9584
оператор       4843
Name: job_title, dtype: int64
11e5 специалист     12469
инженер         9466
менеджер        9217
бухгалтер       7212
заместитель     3970
Name: job_title, dtype: int64
11eb водитель     51
продавец     36
бухгалтер    23
оператор     21
повар        16
Name: job_title, dtype: int64
11ea менеджер      56010
специалист    47867
бухгалтер     26733
продавец      24382
водитель      20690
Name: job_title, dtype: int64
11e9 специалист    34992
бухгалтер     21083
менеджер      20676
инженер       19412
оператор      15193
Name: job_title, dtype: int64
11e4 специалист     8
директор       5
инженер        5
заместитель    5
инспектор      4
Name: job_title, dtype: int64
11ec водитель       14
продавец       10
телеграфист     7
менеджер        6
бухгалтер       6
Name: job_title, dtype: int64

специалист                 36040
менеджер                   21901
инженер                    21629
бухгалтер                  21562
оператор                   12673
                           ...
помощник президента            1
парамедик                      1
зашивальщик мягкой тары        1
аэрографист                    1
гибщик                         1
Name: job_title, Length: 1097, dtype: int64

In [112]:
len(df_TRAIN_RES_1)

1664467

In [102]:
t

,achievements,company_name,demands,id_cv,job_title,achievements_isna,achievements_len
2,"Работы не закончены, т.к. нет настоящего желан...",январь 2016-настоящее времяООО «АРТЕЛЬ СТАРАТЕ...,Курирую работы по рудному направлению: соавтор...,e3c857b0-26a0-11e7-bcca-736ab11edb0c,геолог,False,185
3,,"ОАО «Васильевский рудник», п.Мотыгино, Красноя...",ГРП. Документация керна разведочных скважин,e3c857b0-26a0-11e7-bcca-736ab11edb0c,геолог,True,0
4,,"ООО «Артель старателей «ТАЛ»», Усть-Нера, Респ...",Поисково-разведочные работы на месторождении р...,e3c857b0-26a0-11e7-bcca-736ab11edb0c,геолог,True,0
5,,"ОАО «Высочайший» п.Бодайбо, Иркутская обл.",Разведка с применением поверхностных горных вы...,e3c857b0-26a0-11e7-bcca-736ab11edb0c,геолог,True,0
6,,ООО «АРТЕЛЬ СТАРАТЕЛЕЙ «СИНИНДА-1» п.Нижнеанга...,Детальные поиски и разведка с применением коло...,e3c857b0-26a0-11e7-bcca-736ab11edb0c,геолог,True,0
7,Внедрил в практику работ компьютерные технолог...,ООО «АРТЕЛЬ СТАРАТЕЛЕЙ «СИНИНДА-1» п.Нижнеанга...,Проекты: Поисково-оценочные работы с применени...,e3c857b0-26a0-11e7-bcca-736ab11edb0c,геолог,False,620
8,,Администрация Северо-Байкальского района п.Ниж...,"Разработка программ развития района, статистич...",e3c857b0-26a0-11e7-bcca-736ab11edb0c,заместитель,True,0
9,"Удалось нормализовать работу ЗАО ""Тоннель""",ОАО «Бамтоннельстрой» (дочернии предприятия ЗА...,Финансово-экономический контроль за работой до...,e3c857b0-26a0-11e7-bcca-736ab11edb0c,заместитель,False,42
10,,"ОАО «БАЙКАЛГЕО» п. Нижнеангарск, Бурятия",Проведение геологоразведочных работ на россыпн...,e3c857b0-26a0-11e7-bcca-736ab11edb0c,заместитель,True,0
11,Отчет по детальным поискам на Юго-западном фла...,СЕВЕРО-БАЙКАЛЬСКАЯ ГЕОЛОГОРАЗВЕДОЧНАЯ ЭКСПЕДИЦ...,Проведение поисковых и разведочных работ на Хо...,e3c857b0-26a0-11e7-bcca-736ab11edb0c,геолог,False,159
12,,ВОСТОЧНАЯ ГЕОЛОГОРАЗВЕДОЧНАЯ ЭКСПЕДИЦИЯ (ПГО «...,Проект: Полевые и камеральные работы в Утенинс...,e3c857b0-26a0-11e7-bcca-736ab11edb0c,геолог,True,0
937800,,"ОАО «Высочайший» п.Бодайбо, Иркутская обл.",Разведка с применением поверхностных горных вы...,e3c857b0-26a0-11e7-bcca-736ab11edb0c,геолог,True,0
937801,,ООО «АРТЕЛЬ СТАРАТЕЛЕЙ «СИНИНДА-1» п.Нижнеанга...,Детальные поиски и разведка с применением коло...,e3c857b0-26a0-11e7-bcca-736ab11edb0c,геолог,True,0
937803,Внедрил в практику работ компьютерные технолог...,ООО «АРТЕЛЬ СТАРАТЕЛЕЙ «СИНИНДА-1» п.Нижнеанга...,Проекты: Поисково-оценочные работы с применени...,e3c857b0-26a0-11e7-bcca-736ab11edb0c,геолог,False,620

In [ ]:
df_TRAIN_RES_1["com"]

In [ ]:
df_TRAIN_RES_1[df_TRAIN_RES_1["job_title"] == "преподаватель"]

In [94]:
t["demands"].iloc[9]

'Проведение занятий с обучающимися (бакалавриат, магистратура) по дисциплинам: Менеджмент| | Основы менеджмента и маркетинга| | Экономика предприятия| | Теория и практика управления. Осуществление обучения и воспитания обучающихся с учетом специфики преподаваемых предметов, проведение занятий в соответствии с расписанием и учебным планом в указанных помещениях. Обеспечение высокого уровня подготовки, соответствующий требованиям ФГОС ВО'

In [75]:
(t["demands"] == "педагогическая деятельность, ведение документации").sum()

0

In [76]:
t

,achievements,company_name,demands,id_cv,job_title,achievements_isna,achievements_len
60,,Благовещенский профессиональный лицей,"Преподавание литературы, общение со студентами",bb6ab9d0-283d-11e8-93a1-ef76bd2a03c1,преподаватель,True,0
306,Участие учеников на Российском соревновании Ro...,"ООО ""Восходящие технологии""",Обучение визуальному программируванию в среде ...,e6e85590-2c4d-11e8-b956-037acc02728d,преподаватель,False,52
1032,,"Международный славянский институт, Бишкекский ...",Преподавание дисциплин по клинической психолог...,92766740-2d10-11e8-b77d-736ab11edb0c,преподаватель,True,0
1034,,Кыргызский национальный университет,Преподавание дисциплин по клинической психолог...,92766740-2d10-11e8-b77d-736ab11edb0c,преподаватель,True,0
1077,,Саратовский педагогический колледж им. Гагарина,Преподавание,8fdb2fc9-313e-11e8-9855-0f468c90bfa7,преподаватель,True,0
...,...,...,...,...,...,...,...
1998685,,ККИ РУК,Преподавание информатики студентам колледжа,3fe01b10-7ff8-11ea-9939-736ab11edb0c,преподаватель,True,0
1999113,,Автономная некоммерческая организация высшего ...,"- организация и проведение учебной, воспитател...",f52313a0-84c2-11ea-a01c-b905beff6f7a,преподаватель,True,0
1999135,,Детский подростковый центр «Олимп»,Внешкольная деятельность. Обучение детей англи...,769caab0-848f-11ea-bdb4-1fdc17069750,преподаватель,True,0
1999136,,•МБУДО «Дом творчества Октябрьского района гор...,Внешкольная деятельность. Обучение детей англи...,769caab0-848f-11ea-bdb4-1fdc17069750,преподаватель,True,0
1999137,,"Языковой центр ООО «New Asia», преподаватель а...",Обучение английскому языку детей старших класс...,769caab0-848f-11ea-bdb4-1fdc17069750,преподаватель,True,0

In [51]:
print(df_TRAIN_RES_1[df_TRAIN_RES_1["achievements_len"] == 4770]["achievements"].unique()[0])

Список реализованных объектов (проектов):1. ФГУП "Национальные рыбные ресурсы", Реконструкция объекта федеральной собственности морского терминала, предназначенного для комплексного обслуживания судов рыбопромыслового флота с объемом обработки грузов до 400 тыс. т в год., в Петропавловском морском порту, г. Петропавловск-Камчатский. Стоимость СМР более 5 млрд. руб.|2. Департамент развития новых территорий г. Москвы, Школа на 1100 мест по адресу: г. Москва, ТиНАО, поселение Сосенское, пос. Коммунарка, общая площадь объекта: 24 200 кв.м. Стоимость СМР более 1 млрд. руб.|3. ГУП "Мосгортранс", Объект: г. Москва, "Восстановление трамвайного движения на участке от госпиталя имени Н. Н. Бурденко до станции метро "Бауманская" |4. АО "ГУОВ": 4.1. "Общежитие на 800 мест, Военно-Космической академии имени А. Ф. Можайского, ул. Пионерская д. 59 литера А", общая площадь объекта 11 250 кв.м.|4.2. "Казарма на 800 мест и столовая на 1200 мест Военно-космической академии имени А. Ф. Можайского", по адресу: г. Санкт-Петербург, ул. Пионерская, д. 28, лит. А, инв. №14/4, Общая площадь Объекта: 11 000 кв.м.|5. АНО "ТДОИ", Комплекс зданий и сооружений спецавтопарка по ул. Голенева в центральном районег. Сочи (ПАТП) (для размещения 229 автобусов), общая площадь объекта 48 500 кв.м.6. Заказчик: ФКУ "Севзапуправтодор": 6.1. Объект: Ремонт автомобильной дороги А-229 Калининград - Черняховск - Нестеров - граница с Литовской Республикой, км 45+000 - км 53+400 (право), Калининградская область" |6.2. Объект: Ремонт автомобильной дороги Р - 23 Санкт-Петербург - Псков - Пустошка - Невель - граница с Республикой Белоруссия, км 345+000 - км 353+000, Псковская область|7. СПБ ГКУ "Управление заказчика", Реконструкция тепловых сетей от групповой котельной по адресу: Санкт-Петербург, Б. Сампсониевский пр., д.86, корп.3|8. АНО "Дирекция по развитию транспортной системы С-Пб и Лен. обл.", Объект: "Строительство подъезда от кольцевой автомобильной дороги А-118 до автомобильной дороги М-11 "Нарва" .9. Заказчик: ГКУ "Дирекция транспортного строительства": 9.1. Объект: Капитальный ремонт объекта: "Индустриальный пр. (напротив д. 40)" |9.2. Объект: Капитальный ремонт объекта: "пр. Тореза от ул. Рашетова до пр. Энгельса" 9.3. Объект: Капитальный ремонт объекта: "пр. Маршала Жукова от ул. Морской Пехоты до ул. Солдата Корзуна" .10. Заказчик: ГП "КрымГипроДор": Объекты в Крыму: "Разработка проектной и рабочей документации по капитальному ремонту автомобильной дороги: 10.1. Инженерная защита и реконструкция автодороги: Алушта-Судак-Феодосия км3+150|км59+600| км61+645| км61+900|км66+500| км58+900|Громовка-Р-29 км 0+080-км0+140| Малый Маяк-Утес км 4+200-км4+250": 10.2. Реконструкции участка автомобильной дороги на подъезде к пограничному пункту пропуска "Турецкий вал" .|10.3. Реконструкции участка автомобильной дороги на подъезде к пограничному пункту пропуска "Чонгар" .11. Объекты строительного контроля:- ФКУ "Ространсмодернизация", Осуществление инженерного сопровождения (строительного контроля) по объекту: "Развитие транспортного узла "Восточный - Находка (Приморский край)" . Этап 1 - Объекты морского транспорта. Стоимость СМР более 12 млрд. руб.|- ФКУ "Ространсмодернизация", Осуществление инженерного сопровождения (строительного контроля) по объекту: "Развитие транспортного узла "Восточный - Находка (Приморский край)" . Этап 2 - Объекты железнодорожного транспорта. Стоимость СМР более 6 млрд. руб.|- ГКУ "Ленавтодор", Осуществление инженерного сопровождения (строительного контроля) по объекту: "Строительство путепровода в месте пересечения ж/д путей и автомобильной дороги общего пользования "Подъезд к г. Гатчина2" в Гатчинском районе Л. О.|- ГКУ "Ленавтодор", Осуществление инженерного сопровождения (строительного контроля) по объекту: "Строительство автодорожного путепровода на станции Возрождение участка Выборг-Каменогорск взамен закрываемого переезда на ПК229+44,20" в Выборском районе Л. О.|- ООО "Автодор", Комплекс полевых работ по диагностике и оценке технического состояния автомобильных дорог общего пользования в Республике Крым РФ, общей протяженностью около 1500 км.- ОАО "ДВЭУК", Осуществление инженерного сопровождения (строительного контроля) и технического аудита по объекту: "Строительство ВЛ 220 кВ "Чернышеский-Мирный-Ленск-Пеледуй" с отпайкой до НПС№14, Республика Саха (Якутия)", общей протяженностью около 945 км. Стоимость СМР более 22 млрд. руб.- Заказчик АНО "ТДОИ": Осуществление инженерного сопровождения (строительного контроля) по объектам в г. Сочи. "Специализированные автотранспортные парки по обслуживанию пассажирского автомобильного транспорта для перевозки участников и гостей XXII Олимпийских зимних игр и XI Паралимпийских зимних игр 2014 года в г. Сочи.- и др. объекты проектирования и строительного контроля

In [40]:
sorted(df_TRAIN_RES_1["achievements_len"], reverse=True)

[13760,
 13760,
 13760,
 13710,
 11793,
 11793,
 11793,
 11793,
 11793,
 11793,
 11793,
 11793,
 11793,
 9814,
 9814,
 9814,
 9296,
 9204,
 9204,
 9204,
 8816,
 8750,
 8750,
 8461,
 8429,
 8097,
 8069,
 7996,
 7990,
 7936,
 7862,
 7858,
 7835,
 7835,
 7835,
 7835,
 7835,
 7487,
 7286,
 7284,
 7188,
 7055,
 7054,
 7010,
 6852,
 6852,
 6852,
 6852,
 6798,
 6729,
 6710,
 6710,
 6710,
 6710,
 6708,
 6686,
 6686,
 6686,
 6646,
 6583,
 6581,
 6484,
 6481,
 6481,
 6481,
 6301,
 6284,
 6266,
 6211,
 6205,
 6204,
 6091,
 6074,
 6017,
 6006,
 6006,
 5997,
 5969,
 5967,
 5967,
 5966,
 5960,
 5875,
 5863,
 5863,
 5863,
 5863,
 5863,
 5863,
 5863,
 5863,
 5861,
 5767,
 5707,
 5707,
 5683,
 5633,
 5607,
 5603,
 5594,
 5508,
 5487,
 5477,
 5477,
 5477,
 5466,
 5454,
 5407,
 5405,
 5402,
 5401,
 5398,
 5390,
 5386,
 5266,
 5265,
 5265,
 5265,
 5265,
 5265,
 5265,
 5265,
 5265,
 5265,
 5265,
 5265,
 5265,
 5265,
 5265,
 5265,
 5265,
 5247,
 5244,
 5243,
 5236,
 5231,
 5218,
 5205,
 5205,
 5202,
 5187,
 5187,
 4953,
 4944,
 4913,
 4909,
 4862,
 4835,
 4827,
 4827,
 4821,
 4810,
 4810,
 4782,
 4770,
 4770,
 4770,
 4770,
 4770,
 4770,
 4770,
 4770,
 4770,
 4770,
 4769,
 4757,
 4737,
 4731,
 4706,
 4699,
 4686,
 4677,
 4659,
 4648,
 4600,
 4600,
 4592,
 4586,
 4531,
 4530,
 4530,
 4516,
 4512,
 4493,
 4470,
 4407,
 4396,
 4378,
 4360,
 4352,
 4352,
 4317,
 4317,
 4317,
 4317,
 4301,
 4296,
 4296,
 4296,
 4296,
 4294,
 4248,
 4248,
 4247,
 4233,
 4223,
 4204,
 4204,
 4189,
 4189,
 4185,
 4185,
 4173,
 4169,
 4167,
 4166,
 4135,
 4132,
 4107,
 4104,
 4066,
 4064,
 4063,
 4055,
 4054,
 4038,
 4035,
 4035,
 4035,
 4029,
 4026,
 4022,
 4020,
 4020,
 4010,
 4003,
 4001,
 4001,
 4001,
 4001,
 3996,
 3982,
 3982,
 3975,
 3970,
 3960,
 3960,
 3960,
 3960,
 3937,
 3933,
 3933,
 3933,
 3933,
 3875,
 3870,
 3870,
 3870,
 3870,
 3870,
 3870,
 3869,
 3852,
 3826,
 3821,
 3819,
 3819,
 3819,
 3819,
 3818,
 3818,
 3818,
 3818,
 3818,
 3815,
 3808,
 3803,
 3800,
 3800,
 3800,
 3797,
 3792,
 3791,
 3790,
 3790,
 3790,
 3790,
 3785,
 3782,
 3769,
 3769,
 3764,
 3763,
 3751,
 3749,
 3749,
 3749,
 3748,
 3741,
 3739,
 3739,
 3739,
 3731,
 3729,
 3725,
 3709,
 3687,
 3684,
 3684,
 3681,
 3676,
 3674,
 3673,
 3666,
 3666,
 3663,
 3656,
 3646,
 3641,
 3641,
 3632,
 3619,
 3617,
 3617,
 3615,
 3599,
 3599,
 3594,
 3577,
 3577,
 3573,
 3572,
 3566,
 3563,
 3561,
 3549,
 3534,
 3534,
 3534,
 3534,
 3534,
 3534,
 3534,
 3534,
 3534,
 3510,
 3506,
 3502,
 3502,
 3502,
 3502,
 3497,
 3489,
 3487,
 3482,
 3480,
 3450,
 3450,
 3438,
 3430,
 3425,
 3421,
 3407,
 3405,
 3400,
 3399,
 3399,
 3382,
 3382,
 3372,
 3372,
 3370,
 3369,
 3366,
 3364,
 3362,
 3354,
 3347,
 3344,
 3342,
 3342,
 3342,
 3342,
 3338,
 3338,
 3330,
 3304,
 3297,
 3286,
 3282,
 3282,
 3271,
 3266,
 3261,
 3261,
 3261,
 3258,
 3255,
 3249,
 3249,
 3249,
 3248,
 3243,
 3229,
 3225,
 3223,
 3220,
 3220,
 3220,
 3220,
 3219,
 3213,
 3209,
 3209,
 3209,
 3203,
 3202,
 3202,
 3202,
 3199,
 3196,
 3196,
 3195,
 3188,
 3188,
 3187,
 3183,
 3178,
 3176,
 3172,
 3172,
 3166,
 3163,
 3157,
 3157,
 3157,
 3157,
 3156,
 3155,
 3155,
 3145,
 3141,
 3141,
 3141,
 3141,
 3137,
 3137,
 3131,
 3131,
 3125,
 3121,
 3120,
 3120,
 3117,
 3102,
 3098,
 3097,
 3097,
 3097,
 3097,
 3097,
 3097,
 3094,
 3093,
 3093,
 3093,
 3093,
 3091,
 3089,
 3087,
 3084,
 3083,
 3082,
 3075,
 3072,
 3069,
 3069,
 3069,
 3066,
 3066,
 3066,
 3066,
 3053,
 3048,
 3048,
 3043,
 3040,
 3038,
 3034,
 3032,
 3031,
 3027,
 3026,
 3026,
 3026,
 3024,
 3024,
 3017,
 3015,
 3013,
 3008,
 2987,
 2987,
 2985,
 2984,
 2984,
 2983,
 2981,
 2978,
 2975,
 2972,
 2969,
 2967,
 2961,
 2960,
 2960,
 2952,
 2948,
 2948,
 2948,
 2948,
 2944,
 2937,
 2935,
 2918,
 2917,
 2917,
 2916,
 2916,
 2915,
 2911,
 2904,
 2903,
 2902,
 2890,
 2886,
 2880,
 2880,
 2876,
 2876,
 2876,
 2875,
 2875,
 2875,
 2870,
 2868,
 2868,
 2868,
 2865,
 2862,
 2862,
 2862,
 2862,
 2856,
 2856,
 2854,
 2852,
 2851,
 2850,
 2849,
 2838,
 2837,
 2835,
 2834,
 2833,
 2833,
 2833,
 2833,
 2833,
 2832,
 2832,
 2831,
 2830,
 2830,
 2830,
 2830,
 2828,
 2827,
 2825,
 2820,
 2820,
 2817,
 2817,
 2815,
 2811,
 2811,
 2811,
 2810,
 2810,
 2810,
 2808,
 2807,
 2807,
 2806,
 2805,
 2805,
 2805,
 2804,
 2803,
 2802,
 2800,
 2799,
 2799,
 2798,
 2797,
 2797,
 2796,
 2794,
 2792,
 2792,
 2789,
 2788,
 2786,
 2786,
 2786,
 2786,
 2785,
 2785,
 2785,
 2782,
 2781,
 2779,
 2774,
 2773,
 2771,
 2770,
 2769,
 2769,
 2767,
 2761,
 2760,
 2760,
 2759,
 2758,
 2757,
 2755,
 2754,
 2752,
 2750,
 2743,
 2742,
 2742,
 2741,
 2740,
 2740,
 2740,
 2738,
 2737,
 2737,
 2737,
 2735,
 2727,
 2714,
 2713,
 2713,
 2710,
 2707,
 2707,
 2703,
 2702,
 2702,
 2701,
 2701,
 2700,
 2695,
 2695,
 2695,
 2695,
 2695,
 2695,
 2694,
 2693,
 2693,
 2692,
 2691,
 2690,
 2689,
 2688,
 2683,
 2683,
 2683,
 2682,
 2681,
 2681,
 2681,
 2677,
 2675,
 2674,
 2672,
 2666,
 2664,
 2663,
 2660,
 2660,
 2657,
 2655,
 2655,
 2655,
 2655,
 2653,
 2652,
 2652,
 2652,
 2651,
 2651,
 2651,
 2649,
 2648,
 2646,
 2643,
 2642,
 2642,
 2639,
 2639,
 2637,
 2637,
 2636,
 2636,
 2636,
 2636,
 2635,
 2635,
 2634,
 2633,
 2633,
 2631,
 2631,
 2629,
 2629,
 2626,
 2626,
 2622,
 2616,
 2614,
 2607,
 2605,
 2603,
 2603,
 2598,
 2598,
 2598,
 2597,
 2595,
 2594,
 2594,
 2594,
 2594,
 2593,
 2593,
 2593,
 2592,
 2591,
 2590,
 2589,
 2589,
 2588,
 2587,
 2584,
 2582,
 2577,
 2577,
 2576,
 2575,
 2572,
 2571,
 2570,
 2570,
 2570,
 2566,
 2566,
 2566,
 2566,
 2566,
 2566,
 2565,
 2565,
 2564,
 2563,
 2562,
 2561,
 2558,
 2555,
 2555,
 2551,
 2551,
 2550,
 2548,
 2548,
 2547,
 2544,
 2543,
 2541,
 2537,
 2537,
 2535,
 2531,
 2531,
 2531,
 2531,
 2531,
 2529,
 2529,
 2528,
 2528,
 2526,
 2526,
 2520,
 2520,
 2520,
 2519,
 2514,
 2511,
 2511,
 2510,
 2507,
 2507,
 2500,
 2500,
 2500,
 2500,
 2497,
 2497,
 2497,
 2496,
 2496,
 2496,
 2495,
 2492,
 2492,
 2492,
 2490,
 2487,
 2487,
 2487,
 2485,
 2483,
 2483,
 2483,
 2482,
 2482,
 2482,
 2481,
 2481,
 2481,
 2481,
 2481,
 2481,
 2478,
 2475,
 2474,
 2473,
 2469,
 2467,
 2467,
 2466,
 2466,
 2465,
 2465,
 2462,
 2460,
 2459,
 2457,
 2456,
 2455,
 2455,
 2454,
 2454,
 2452,
 2451,
 2450,
 2450,
 2450,
 2450,
 2450,
 2450,
 2450,
 2450,
 2449,
 2449,
 2448,
 2446,
 2445,
 2445,
 2444,
 2444,
 2444,
 2442,
 2442,
 2442,
 2442,
 2440,
 2439,
 2439,
 2439,
 2439,
 2439,
 2436,
 2435,
 2433,
 2430,
 2425,
 2425,
 2425,
 2425,
 2422,
 2422,
 2419,
 2418,
 2418,
 2416,
 2416,
 2415,
 2413,
 2407,
 2403,
 2402,
 2402,
 2397,
 2396,
 2395,
 2393,
 2393,
 2393,
 2392,
 2390,
 2390,
 2390,
 2388,
 2387,
 2387,
 2387,
 2383,
 2382,
 2382,
 2382,
 2381,
 2379,
 2377,
 2377,
 2377,
 2376,
 2375,
 2375,
 2375,
 2375,
 2374,
 2374,
 2374,
 2374,
 2374,
 2374,
 2373,
 2372,
 2370,
 2368,
 2368,
 2367,
 2366,
 2363,
 2362,
 2362,
 2361,
 2361,
 2361,
 2360,
 2359,
 2358,
 2358,
 2358,
 2356,
 2356,
 2355,
 2354,
 2352,
 2351,
 2347,
 2346,
 2346,
 2346,
 2346,
 2346,
 2344,
 2344,
 2344,
 2344,
 2342,
 2341,
 2340,
 2339,
 2331,
 2327,
 2327,
 2326,
 2326,
 2324,
 2324,
 2317,
 2310,
 2310,
 2309,
 ...]

In [23]:
t = df_TRAIN_RES_1[~df_TRAIN_RES_1["achievements"].isna()]

In [25]:
t[t["achievements"] != t["achievements_modified"]]

,achievements,achievements_modified,company_name,demands,id_cv,job_title
2181,не имею,нет,АО «Ликеро-водочный завод»,Ответственная,64157720-2de1-11e8-a3e9-e37b4be0b9ed,оператор
2362,НЕТ,нет,ООО.ЖЕЛЕЗНОДОРОЖНИК,Приемка локомотива.Содержание исправном состоянии,7d488ee6-2e62-11e8-a184-9122a281f90e,машинист
14061,достижений нет,нет,"ПОУ ""РУЦ"" РО ДОСААФ России Тюменской области",Разработка планирующей документации| Контроль ...,20af3a70-3584-11e8-8e6a-ef76bd2a03c1,заместитель
14666,Нет,нет,ООО Свод Интернешнл,Мытье посуды,e05dc680-3420-11e8-8b84-ef76bd2a03c1,стюард
14667,Нет,нет,ООО Свод Интернешнл,Мвтьё помкдв,e05dc680-3420-11e8-8b84-ef76bd2a03c1,стюард
...,...,...,...,...,...,...
1998677,Нет,нет,ООО Форт Пос Челябинск,Обучение персонала,7c528da0-83ac-11ea-a312-e736a3d3ed84,менеджер
1998680,Нет,нет,ООО ТД Нева,Продажа продуктов питания,7c528da0-83ac-11ea-a312-e736a3d3ed84,представитель
1998737,Нет,нет,ООО кубаньалкоопт,Прием товара,ec68ab20-8464-11ea-a79e-bfd13399602c,контролер
1998783,Нет,нет,Силовые машины,"Контроль изделий после механической обработки,...",e1a91c50-8320-11ea-b18f-03fd6b4dc11f,специалист
1999145,Нет,нет,ИП Гришина К.Ю.,отвечать на звонки и вести документы,c6096b70-821d-11ea-b879-3bfa22f2d66b,директор

In [17]:
df_TRAIN_RES_1.isna().sum() / len(df_TRAIN_RES_1) * 100

achievements             84.13625
achievements_modified    84.13625
company_name              0.07885
demands                   0.79030
id_cv                     0.00000
job_title                 0.00000
dtype: float64

In [11]:
df_TRAIN_RES_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 6 columns):
 #   Column                 Dtype
---  ------                 -----
 0   achievements           object
 1   achievements_modified  object
 2   company_name           object
 3   demands                object
 4   id_cv                  object
 5   job_title              object
dtypes: object(6)
memory usage: 91.6+ MB

In [15]:
(df_TRAIN_RES_1.job_title.value_counts() > 1000).sum()

157

In [3]:
job_list = pd.read_csv("vprod_train/JOB_LIST.csv", encoding_errors="ignore")

In [4]:
job_list.dropna(inplace=True, axis=0)

In [5]:
def base_preproc(text):
    text = text.replace(",", " ").strip().lower()
    text = re.sub(' +', ' ', text)
    text = "".join([x for x in text if not x.isdigit()])
    return text

In [6]:
job_list["job_title"] = job_list["job_title"].map(base_preproc)

In [ ]:
my_counter = {}
for job in job_list["job_title"].tolist():
    for x in job.split():
        if x not in list(my_counter.keys())

In [ ]:
words = sum([x.split() for x in job_list["job_title"].tolist()], [])

In [ ]:
len(words)

In [107]:
bad_classes_df = df_res[df_res["id_cv"].isin(df_res[df_res["job_title"] == "специалист"]["id_cv"].unique())]

In [115]:
k = []

for ids, gr in tqdm(df_res.groupby("id_cv")):
    k.append(len(gr["company_name"].unique()))

100%|████████████████████████████████| 745438/745438 [00:15<00:00, 47155.67it/s]

In [134]:
df_sal.isna().sum()

id                                      0
academic_degree                    630830
accommodation_capability                0
accommodation_type                 597838
additional_premium                 549987
additional_requirements            400830
bonus_type                         549481
measure_type                       549778
busy_type                               0
career_perspective                      0
change_time                          5001
code_external_system               555416
code_profession                     14958
code_professional_sphere               14
company_code                            0
contact_person                        108
contact_source                     568063
data_ids                                0
date_create                             0
date_modify                             0
deleted                                 0
education                               0
education_speciality               515614
foreign_workers_capability         631117
metro_ids                          621226
is_mobility_program                537839
is_moderated                            0
is_uzbekistan_recruitment               0
is_quoted                               0
need_medcard                       449036
oknpo_code                         631117
okso_code                          609798
original_source_type                    0
other_vacancy_benefit              486708
position_requirements               41038
position_responsibilities            3911
publication_period                     16
published_date                          0
regionName                           3734
regionNameTerm                     631117
company_business_size                   0
required_certificates              588552
required_drive_license                  0
required_experience                 11283
retraining_capability              604402
retraining_condition               631117
retraining_grant                        0
retraining_grant_value             629285
salary                                  0
salary_min                              0
salary_max                           5507
schedule_type                           0
social_protected_ids               599574
source_type                             0
state_region_code                       2
status                                  0
transport_compensation             609466
vacancy_address_additional_info    390228
vacancy_address                      3734
vacancy_address_code                    2
vacancy_address_house               78961
vacancy_address_latitude             1668
vacancy_address_longitude            1668
vacancy_benefit_ids                607601
vacancy_name                            0
visibility                              0
work_places                             0
professionalSphereName                 14
federalDistrictCode                     2
industryBranchName                 629014
contactList                        631117
company_name                       631117
full_company_name                      48
company_inn                           279
company                                 0
languageKnowledge                       0
hardSkills                              0
softSkills                              0
dtype: int64

In [138]:
from sage.spelling_correction import AvailableCorrectors
from sage.spelling_correction import RuM2M100ModelForSpellingCorrection, T5ModelForSpellingCorruption

text_ru = "Замтьте не я это предложил"
text_en = "Screw you kuys, I am going home. (c)"

corrector_fred = T5ModelForSpellingCorruption.from_pretrained(AvailableCorrectors.sage_fredt5_large.value)
corrector_m2m = RuM2M100ModelForSpellingCorrection.from_pretrained(AvailableCorrectors.m2m100_1B.value)
corrector_en = T5ModelForSpellingCorruption.from_pretrained(AvailableCorrectors.ent5_large.value)

print(corrector_fred.correct(text_ru))
# ['Заметьте, не я это предложил.']

print(corrector_m2m.correct(text_ru))

ModuleNotFoundError: No module named 'sage'